extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? In order to reset it, please follow the link #{url}.
  p (Please note that your password reset token will only be valid for the next 10 minutes.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Reset your password
  p If you didn't forget your password, please ignore this email!
